@using TransportGlobalWeb.UI.Models.ViewModels.TransportContextViewModels;
@model TransportRequestViewModel

<h2>Transport Request Details</h2>

<div>
    <h4>Transport Type</h4>
    <p>@Model.TransportType</p>
</div>

<div>
    <h4>Weight</h4>
    <p>@Model.Weight</p>
</div>

<div>
    <h4>Volume</h4>
    <p>@Model.Volume</p>
</div>

<div>
    <h4>Loading Address</h4>
    <p>@Model.LoadingAddress</p>
</div>

<div>
    <h4>Delivery Address</h4>
    <p>@Model.DeliveryAddress</p>
</div>

<div>
    <h4>Transport Date</h4>
    <p>@Model.TransportDate.ToString("dd/MM/yyyy HH:mm:ss")</p>
</div>

<div>
    <h4>Status Type</h4>
    <p>@Model.StatusType</p>
</div>

