@using TransportGlobalWeb.UI.Models.ViewModels.TransporterContextViewModels;
@model CompanyViewModel

<h2>Company Details</h2>

<div>
    <h4>Name</h4>
    <p>@Model.Name</p>
</div>

<div>
    <h4>Address</h4>
    <p>@Model.Address</p>
</div>

<div>
    <h4>Phone Number</h4>
    <p>@Model.PhoneNumber</p>
</div>

<div>
    <h4>Email</h4>
    <p>@Model.Email</p>
</div>

<div>
    <h4>Created Date</h4>
    <p>@Model.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")</p>
</div>

<div>
    <h4>Status</h4>
    @if (Model.IsDeleted)
    {
        <p>Deleted</p>
    }
    else
    {
        <p>Active</p>
    }
</div>

<div>
    <a asp-action="GetCompanyReviews" asp-controller="Review" asp-route-id=@Model.ID class="btn btn-primary">Reviews</a>
</div>