@using TransportGlobalWeb.UI.Models.ConfigurationModels;
@model GetOwnVehiclesResponseModel
@inject ApiEndpointsConfigurationModel ApiEndpoints

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Own Vehicles List</h1>
    <div>
        <a asp-action="CreateVehicle" asp-controller="Vehicle" class="btn btn-primary">Create Vehicle</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Identification Number</th>
            <th>Type</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model.List)
        {
            <tr>
                <td>@vehicle.IdentificationNumber</td>
                <td>@vehicle.Type</td>
                <td>@vehicle.Status</td>
                <td>
                    <a asp-action="GetVehicleByID" asp-controller="Vehicle" asp-route-id=@vehicle.ID class="btn btn-primary">Detail</a>
                    <a asp-action="UpdateVehicle" asp-controller="Vehicle" asp-route-id=@vehicle.ID class="btn btn-warning">Update</a>
                    <a asp-action="DeleteVehicle" asp-controller="Vehicle" asp-route-id=@vehicle.ID class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination justify-content-center">
        @for (int i = 1; i <= Math.Ceiling((double)(Model.TotalCount / (double)ApiEndpoints.PageSize!)); i++)
        {
            <li class="page-item @(i == ((int)ViewData["Page"]!+1) ? "active" : "")">
                <a class="page-link" asp-action="GetOwnVehicles" asp-controller="Vehicle" asp-route-page="@(i-1)">@i</a>
            </li>
        }
    </ul>
</nav>
