@using TransportGlobalWeb.UI.Enums.TransporterContextEnums;
@model UpdateEmployeeRequestModel

<h1>Update Employee</h1>

<form asp-action="UpdateEmployee" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="ID" />
    </div>

    <div class="form-group">
        <label asp-for="VehicleID">Vehicle</label>
        <select asp-for="VehicleID" class="form-control">
            <option value=@(Model.VehicleID == null ? 0 : Model.VehicleID)>Select Vehicle</option>
            @foreach (VehicleResponseModel vehicleItem in (ViewData["Vehicles"]! as List<VehicleResponseModel>)!)
            {
                if (vehicleItem.ID == Model.VehicleID)
                {
                    <option value="@vehicleItem.ID" selected>@vehicleItem.IdentificationNumber</option>
                }
                else
                {
                    <option value="@vehicleItem.ID">@vehicleItem.IdentificationNumber</option>
                }
            }
        </select>
        <span asp-validation-for="VehicleID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required>
    </div>

    <div class="form-group">
        <label asp-for="Surname">Surname</label>
        <input type="text" class="form-control" id="Surname" name="Surname" value="@Model.Surname" required>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" required>
    </div>

    <div class="form-group">
        <label asp-for="Title">Employee Title</label>
        <select asp-for="Title" class="form-control">
            @foreach (EmployeeTitle employeeTitle in Enum.GetValues<EmployeeTitle>())
            {
                if (employeeTitle == Model.Title)
                {
                    <option value="@employeeTitle" selected>@employeeTitle</option>
                }
                else
                {
                    <option value="@employeeTitle">@employeeTitle</option>
                }
            }
        </select>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

